header {
    max-width: 960px;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    padding: 2rem 0;
    text-transform: uppercase;
    margin: 3rem;
    font-size: 2.25rem;
    transform: skew(0deg, -12deg);
}

header a {
    border: none;
}