.team-badges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0;
  list-style: none;
  margin: 0 0 1.45rem;
  align-items: center;
}

@media (width >= 480px) {
  .team-badges {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 768px) {
  .team-badges {
    grid-template-columns: repeat(6, 1fr);
  }
}

.team-badges li {
  margin: 0;
  display: flex;
  justify-content: center;
}

.team-badges a {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: none;
}

.team-badges a:hover {
  border-bottom: none;
}

.team-badges img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.team-badge-header {
  display: block;
  margin: 0 auto 1rem;
  width: 150px;
  height: auto;
}
